{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en"> 
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Begzod</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">  
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static 'css/vendor.css' %}">     

   <!-- script
   ================================================== -->   
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/pace.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="{% static 'B.png' %}">

	<script>
		 function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		let csrftoken = getToken('csrftoken')
	</script>

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="{% url 'home' %}">Begzod</a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Services</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>					
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello, World.</h5>
	   			<h1>I'm Rasulev Begzod.</h1>

	   			<p class="intro-position">
	   				<span>Back-end Developer</span>
	   				<span>Project Manager</span> 
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
         <li><a href="#"><i class="fa fa-behance"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
         <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself.</h1>

   			<div class="intro-info">

   				<img src="{% static 'images/profile-pic.jpg' %}" alt="Profile Picture">

   				<p class="lead" id="about_me"></p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h2>Profile:</h2>
   			<ul class="info-list">
   				<li id="fullname">
   					<strong></strong>
   					<span></span>
   				</li>
   				<li id="birthday">
   					<strong></strong>
   					<span></span>
   				</li>
   				<li id="job">
   					<strong></strong>
   					<span></span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<span>www.kardswebsite.com</span>
   				</li>
   				<li id="my_email">
   					<strong></strong>
   					<span></span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h2>Skills:</h2>

				<ul class="skill-bars">
				   <li id="html">
				   	<div class="progress percent"><span></span></div>
				   	<strong></strong>
				   </li>
				   <li id="python">
				   	<div class="progress percent"><span></span></div>
				   	<strong></strong>
				   </li>
				   <li id="django">
				   	<div class="progress percent"><span></span></div>
				   	<strong></strong>
				   </li>
				   <li id="javascript">
				   	<div class="progress percent95"><span></span></div>
				   	<strong></strong>
				   </li>
      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve" id="my_resume">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<p class="lead"></p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header" id="first_work">
	   					<h3></h3>
	   					<p></p>
	   				</div>

	   				<div class="timeline-content" id="first_work_info">
	   					<h4></h4>
	   					<p></p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header" id="second_work">
	   					<h3></h3>
	   					<p></p>
	   				</div>

	   				<div class="timeline-content" id="second_work_info">
	   					<h4></h4>
	   					<p></p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header" id="education">
	   					<h3></h3>
	   					<p></p>
	   				</div>

	   				<div class="timeline-content" id="education_name">
	   					<h4></h4>
	   					<p></p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelor Degree</h3>
	   					<p>July 2014 - June 2015</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>State Design University</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->
   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
	   <div class="row button-section">
		<div class="col-twelve">
			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
			<a href="{% url 'download' %}" title="Download CV" class="button button-primary">Download Resume</a>
		</div>   		
	</div>
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Portfolio</h5>
   			<h1>Check Out Some of My Works.</h1>
   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">
				{% for el in projects %}
	         	<div class="bgrid folio-item">
					
	               <div class="item-wrap" id="modal_1" >
					
	               	<img src="{{ el.image.url }}" alt="Liberty">
	                  <a data-id="{{el.id}}" href="#modal-01" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">{{ el.title }}</h3>	     					    
		     					    	 <span class="folio-types">
		     					       	  Web Developer
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
				
	               </div>	         
				 
	        		</div> <!-- /folio-item -->
					{% endfor %}      
	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img id="modal-img" src="{% static 'images/portfolio/shutterbug.jpg' %}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4 id="modal-title">Test</h4>		      
					      <p id="modal-text">Test</p>
		               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net" id="modal-detail">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 


	
	<!-- services Section
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Services</h5>
   			<h1>What Can I Do For You?</h1>

   			<p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><i class="icon-earth"></i></span>            

	            <div class="service-content">	

	            	 <h3>Webdesign</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>
	         		
	         	</div> 	         	 

				</div> <!-- /service -->

				<div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Web Development</h3>  

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>		            

	            <div class="service-content">

	            	<h3>Branding</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p> 

	            </div> 	            	               

			   </div> <!-- /service -->

				<div class="service">

					<span class="icon"><i class="icon-toggles"></i></span>	              

	            <div class="service-content">

	            	<h3>UI/UX Design</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p> 
	         		
	            </div>                

				</div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-image"></i></span>	            

	            <div class="service-content">

	            	<h3>Graphics Design</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p> 

	            </div>	               

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-chat"></i></span>	   	           

	            <div class="service-content">

	            	 <h3>Consultancy</h3>

		            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p> 
	        			
	            </div>	               

			   </div> <!-- /service -->

	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section> <!-- /services -->	


	<!-- stats Section
   ================================================== -->
	<section id="stats" class="count-up">

		<div class="row">
			<div class="col-twelve">

				<div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-pencil-ruler"></i>
						</div>

						<h3 class="stat-count">
							1500
						</h3>

						<h5 class="stat-title">
							Projects Completed
						</h5>

					</div> <!-- /stat -->					

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-users"></i>
						</div>

						<h3 class="stat-count">
							900
						</h3>

						<h5 class="stat-title">
							Happy Clients
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-badge"></i>
						</div>

						<h3 class="stat-count">
							200
						</h3>

						<h5 class="stat-title">
							Awards Received
						</h5>

					</div> <!-- /stat -->									

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-light-bulb"></i>
						</div>

						<h3 class="stat-count">
							120
						</h3>

						<h5 class="stat-title">
							Crazy Ideas
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-cup"></i>
						</div>

						<h3 class="stat-count">
							1500
						</h3>

						<h5 class="stat-title">
							Coffee Cups
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-clock"></i>
						</div>

						<h3 class="stat-count">
							7200
						</h3>

						<h5 class="stat-title">
							Hours
						</h5>

					</div> <!-- /stat -->

				</div> <!-- /stats-list -->

			</div> <!-- /twelve -->
		</div> <!-- /row -->

	</section> <!-- /stats -->

	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>
   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="myform" method="post" action="">{% csrf_token %}
      			<fieldset>

                  <div class="form-field">
 						   <input name="contactName" type="text" id="name" placeholder="Name" value="" minlength="2" required="">
                  </div>
                  <div class="form-field">
	      			   <input name="contactEmail" type="email" id="email" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field">
	     				   <input name="contactSubject" type="text" id="subject" placeholder="Subject" value="">
	               </div>                       
                  <div class="form-field">
	                 	<textarea name="contactMessage" id="message" placeholder="message" rows="10" cols="50" required=""></textarea>
	               </div>                      
                 <div class="form-field">
                     <button class="submitform" id="submit">Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>                             
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
				<div id="success_message" style="display:none;">
					<div class="alert-box ss-success hideit" id="close">
				        <p>Success Message.</p>
					</div>
				</div>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">            	
            </div>            
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
            Kamolon street<br>
            Tashkent, Uzbekistan<br>
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>begzod@maxsoft.com<br>
			   	begzod_rasulev@mail.ru			     
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Call Me At</h5>

   			<p>Phone: (+998) 99 444 42 35<br>
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
			      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			      <li><a href="#"><i class="fa fa-behance"></i></a></li>
			      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
			      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright Begzod 2022</span> 
		        	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'js/plugins.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>

   <script type="text/javascript">

	   $(document).on('submit', '#myform', function(event){
			event.preventDefault();
			const success_message = document.getElementById('success_message');
			success_message.innerHTML = "";
			$.ajax({
				url: "contact/api/contact-api/",
				type: "POST",
				data: {
					name:$('#name').val(),
					email:$('#email').val(),
					subject:$('#subject').val(),
					message:$('#message').val(),
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
				},
				success: function(data){
					document.getElementById('success_message').style.display='block'
					$('#myform')[0].reset();
					success_message.innerHTML= `<div class="alert-box ss-success hideit">
				        <p>Success Message.</p>
				        <i  id='close' class="fa fa-times close"></i></div>`;
					message_card = document.getElementById('close');
					message_card.addEventListener('click', ()=>{
						document.getElementById('success_message').style.display='none'
					})
				}
			});
	   });
   </script>

   <script type="text/javascript">
	   const about_me = document.getElementById('about_me');
	   const html = document.getElementById('html');
	   const python = document.getElementById('python');
	   const django = document.getElementById('django');
	   const fullname = document.getElementById('fullname');
	   const birthday = document.getElementById('birthday');
	   const job = document.getElementById('job');
	   const my_email = document.getElementById('my_email');
	   const javascript = document.getElementById('javascript');
	   javascript.innerHTML = "";
	   html.innerHTML = "";
	   python.innerHTML = "";
	   fullname.innerHTML = "";
	   birthday.innerHTML = "";
	   job.innerHTML = "";
	   my_email.innerHTML = "";
	   about_me.innerHTML = "";
	   django.innerHTML = "";
	   $.ajax({
		   type: 'GET',
		   url: 'portfolio/api/about-api/',
		   success: function(data){
				about_me.innerHTML = `${ data[0]['about_me'] }`;
				html.innerHTML = `	<div class="progress percent${ data[0]['skill'][1]['skills_procent'] }"><span>${ data[0]['skill'][1]['skills_procent'] }%</span></div>
					<strong>${ data[0]['skill'][1]['skills'] }</strong>`;
				python.innerHTML = `<div class="progress percent${ data[0]['skill'][0]['skills_procent'] }"><span>${ data[0]['skill'][0]['skills_procent'] }%</span></div>
				   	<strong>${ data[0]['skill'][0]['skills'] }</strong>`;
				fullname.innerHTML = `<strong>Fullname:</strong>
					<span>${ data[0]['fullname'] }</span>`;
				birthday.innerHTML = `<strong>Birth Date:</strong>
   					<span>${ data[0]['birth_date'] }</span>`;
				job.innerHTML = `<strong>Job:</strong>
   					<span>${ data[0]['job'] }</span>`;
				my_email.innerHTML = `<strong>Email:</strong>
   					<span>${ data[0]['email'] }</span>`;
				django.innerHTML = `<div class="progress percent${ data[0]['skill'][2]['skills_procent'] }"><span>${ data[0]['skill'][2]['skills_procent'] }%</span></div>
					<strong>${ data[0]['skill'][2]['skills'] }</strong>`;
				javascript.innerHTML = `<div class="progress percent${ data[0]['skill'][3]['skills_procent'] }"><span>${ data[0]['skill'][3]['skills_procent'] }%</span></div>
					<strong>${ data[0]['skill'][3]['skills'] }</strong>`
		   },
	   });

   </script>
   <script type="text/javascript">
	   const my_resume = document.getElementById('my_resume');
	   my_resume.innerHTML = "";
	   $.ajax({
		   type: 'GET',
		   url: 'portfolio/api/resume-api/',
		   success: function(data){
			   my_resume.innerHTML = `<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<p class="lead">${ data[0]['aboutme_information'] }</p>`;		
		   }
	   });
   </script>

   <script type="text/javascript">
	   const first_work = document.getElementById('first_work');
	   const first_work_info = document.getElementById('first_work_info');
	   const second_work = document.getElementById('second_work');
	   const second_work_info = document.getElementById('second_work_info');
	   second_work.innerHTML = "";
	   second_work_info.innerHTML = "";
	   first_work.innerHTML = "";
	   first_work_info.innerHTML = "";
	   $.ajax({
		   type: 'GET',
		   url: 'portfolio/api/work-api/',
		   success: function(data){
			   	first_work.innerHTML = `<h3>${ data[0]['work_position'] }</h3>
	   					<p>${ data[0]['date_work'] }-present</p>`;
				first_work_info.innerHTML = `<h4>${ data[0]['work_title'] }</h4>
	   					<p>${ data[0]['work_information'] }</p>`;
				second_work.innerHTML = `<h3>${ data[1]['work_position'] }</h3>
	   					<p>${ data[0]['date_work'] }-present</p>`;
				second_work_info.innerHTML = `<h4>${ data[1]['work_title'] }</h4>
	   					<p>${ data[1]['work_information'] }</p>`;
		   }
	   })
   </script>

   <script type="text/javascript">
	    const education = document.getElementById('education');
	   	const education_name = document.getElementById('education_name');
		
		education.innerHTML = "";
		education_name.innerHTML = "";

		$.ajax({
			type: 'GET',
			url: 'portfolio/api/education-api/',
			success: function(data){
				education.innerHTML = `<h3>${ data[0]['education_title'] }</h3>
	   					<p>${ data[0]['date_education'] }</p>`;
				education_name.innerHTML = `<h4>${ data[0]['education_name'] }</h4>
	   					<p>${ data[0]['education_information'] }</p>`;
			}
		})
   </script>

   <script>
	   let objects = document.querySelectorAll('.overlay')
	   for (let item of objects){
		   item.addEventListener('click', function() {
			   get_img(item.dataset.id)
		   })
	   }

	   function get_img(id) {
		   var modal_img = document.querySelector('#modal-img')
		   var modal_title = document.querySelector('#modal-title')
		   var modal_text = document.querySelector('#modal-text')
		   var modal_detail = document.querySelector('#modal-detail')
		   var url = '/project'
	   

	   fetch(url, {

			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': csrftoken,
			},

			body: JSON.stringify({'id': id})
			})

			.then(response => {
				return response.json()
			})

			.then(data => {
				modal_img.src = data['img']
				modal_title.innerHTML = `${ data['title'] }`
				modal_text.innerHTML = `${ data['text'] }`
				modal_detail.href = `${ data['url'] }`
			})


		}

   </script>

   

</body>

</html>